:root {
    --color-forest: #1B4D3E;
    /* bg-emerald-900 */
    --color-gold: #C69C6D;
    /* bg-amber-500 */
    --color-white: #FFFFFF;
    /* bg-white */
    --color-cream: #F5F5F5;
    /* bg-gray-50 */
  }